- provide(:title, @service.title )
- provide(:metadesc, @service.metadescription )
- provide(:metakeywords, @service.metakeywords )

#price
  .min950.center
    h1
      = @service.name + " в Ижевске"
      - target = false
    - if @children_services.count != 0
      - target = true
      = collection_select(:prices, :service_id, @children_services, :alias, :name)
    #price-img
      - if target
        - first = true
        - @children_services.each do |service|
          div class=["prices", service.alias, first ? 'enabled' : '']
            - service.prices.each do |price|
              div[class="price-block #{price.pos_type}" id="#{price.alias}"]
                .bullet
                .price-name
                  = price.name
                .price-cost
                  = price.cost
          - first = false
      - else
        div class=["prices", @service.alias, 'enabled']
          - @service.prices.each do |price|
            div[class="price-block #{price.pos_type}" id="#{price.alias}"]
              .bullet
              .price-name
                = price.name
              .price-cost
                = price.cost
      - if target
        - first = true
        = image_tag "/assets/images/panels/#{@children_services.first.alias}.png", :id => @children_services.first.alias, :class => "gadget"
        - @children_services.each do |service|
          table class=["prices-tbl", service.alias, first ? 'enabled' : '']
            - service.prices.each do |price|
              tr
                td.left-text = price.name
                td.right-text = price.cost
      - else
        = image_tag "/assets/images/panels/#{@service.alias}.png", :id => @service.alias
        table class=["prices-tbl", @service.alias, 'enabled']
          - @service.prices.each do |price|
            tr
              td.left-text = price.name
              td.right-text = price.cost

    .order-label
      | Оставьте заявку и получите скидку
    #order-btn.button
      | Оформить заявку

#service-description
  .min950.center
    .text
      = @service.long_description

- if @service.advices.count != 0
  = render "advices/advices"

- if @service.products.count != 0
  = render "products/products"

= render "reviews/reviews"