tr
  td
    = service.name
  td
    - if service.parent_id.nil?
      | —
    - else
      = Service.find(service.parent_id).name
  td
    = link_to [:edit, :admin, service]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать