h3 Карточка услуги
- unshow = true
= form_for [:admin, @service], :html => {:class => 'bs-example bs-example-form'} do |f|

  div.input-group
    span class="input-group-addon"
      | Алиас
    = f.text_field :alias, :class => "form-control", :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Название
    = f.text_field :name, :class => "form-control"

  div.input-group
    span class="input-group-addon"
      | Краткое описание
    = f.text_area :short_description, :class => "form-control"

  div.input-group
    span class="input-group-addon"
      | Полное описание
    = f.text_area :long_description, :class => "form-control"

  div.input-group
    span class="input-group-addon"
      | Родительская услуга
    = f.collection_select :parent_id, Service.where("id != #{@service.id}"), :id, :name, {:include_blank => true}, {:class => 'form-control', :disabled => unshow}

  div.input-group
    span class="input-group-addon"
      | Заголовок страницы
    = f.text_area :title, :class => "form-control"

  div.input-group
    span class="input-group-addon"
      | Meta-description
    = f.text_area :metadescription, :class => "form-control"

  div.input-group
    span class="input-group-addon"
      | Meta-keywords
    = f.text_area :metakeywords, :class => "form-control"

  = f.submit "Обновить", :class => "btn btn-default"