= form_for [:admin, @service] do |f|

  div
    = f.label :alias, "Алиас"
    = f.text_field :alias

  div
    = f.label :name, "Имя"
    = f.text_field :name

  div
    = f.label :short_description, "Краткое описание"
    = f.text_area :short_description

  div
    = f.label :long_description, "Полное описание"
    = f.text_area :long_description

  div
    = f.label :parent_id, "Родительская услуга"
    = f.collection_select :parent_id, Service.all, :id, :name, :include_blank => true

  = f.submit "Создать"