= form_for [:admin, @banner] do |f|

  div
    = f.label :position, "Позиции"
    = f.text_field :position

  div
    = f.label :image, "Изображение"
    = f.file_field :image

  = f.submit "Обновить"