h3 Войти
= form_for(:session, url: admin_sessions_path) do | f |

  div.input-group
    span class="input-group-addon"
      | Логин
    = f.text_field :name ,:class => 'form-control width1'

  div.input-group
    span class="input-group-addon"
      | Пароль
    = f.password_field :password ,:class => 'form-control width1'

  = f.submit "Войти"