tr
  td
    = price.name
  td
    = price.service.name
  td
    = price.cost
  td
    = link_to [:edit, :admin, price]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать