h3 Карточка цены
- unshow = true
= form_for [:admin, @price] do |f|

  div.input-group
    span class="input-group-addon"
      | Услуга
    = f.collection_select :service_id, Service.all, :id, :name, {}, {:class => 'form-control', :disabled => unshow}

  div.input-group
    span class="input-group-addon"
      | Тип указателя
    = f.select :pos_type, options_for_select([['Вверх-влево', 'top-left'], ['Вверх-вправо', 'top-right'], ['Влево', 'left'], ['Вправо', 'right']]), {}, {:class => 'form-control', :disabled => unshow}

  div.input-group
    span class="input-group-addon"
      | Алиас
    = f.text_field :alias, :class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Имя
    = f.text_field :name, :class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Стоимость
    = f.text_field :cost, :class => 'form-control'

  = f.submit "Обновить", :class => "btn btn-default"