h3 Цены на оказываемые услуги

= form_tag( admin_prices_path, :method => :get ) do
  div.input-group
    span class="input-group-btn"
      = submit_tag "Фильтровать", :class => "btn btn-default"
    = collection_select :service, :f_service_id, Service.all, :id, :name, { :include_blank => '' }, {:class => 'form-control'}

.panel.panel-default
  table.table
    thead
      tr
        th Название услуги
        th Услуга
        th Стоимость
        th
    .tbody
      = render @prices