= form_for [:admin, @price] do |f|

  div
    = f.label :service_id, "Услуга"
    = f.collection_select :service_id, Service.all, :id, :name

  div
    = f.label :pos_type, "Тип указателя"
    = f.select :pos_type, options_for_select([['Вверх-влево', 'top-left'], ['Вверх-вправо', 'top-right'], ['Влево', 'left'], ['Вправо', 'right']])

  div
    = f.label :alias, "Алиас"
    = f.text_field :alias

  div
    = f.label :name, "Имя"
    = f.text_field :name

  div
    = f.label :cost, "Стоимость"
    = f.text_field :cost

  = f.submit "Создать"