h3 Карточка времени работы
- unshow = true
= form_for [:admin, @worktime] do |f|

  div.input-group
    span class="input-group-addon"
      | День недели
    = f.text_field :alias, :value => @week[@worktime.alias], :class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Время работы
    = f.text_field :value, :class => 'form-control'

  = f.submit "Создать", :class => "btn btn-default"