tr
  td
    = call.name
  td
    = call.phone
  td
    = call.created_at.strftime('%d.%m.%Y  %T')
  td
    = link_to "Удалить", [:admin, call], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"
