tr
  td
    = review.name
  td
    - if review.email.empty?
      | —
    - else
      = review.email
  td
    - if review.published
      | Да
    - else
      | Нет
  td
    = link_to [:edit, :admin, review]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать
  td
    = link_to "Удалить", [:admin, review], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"