h3 Список отзывов
div.btns
  = link_to "Создать отзыв", new_admin_review_path, :class => "btn btn-primary"
.panel.panel-default
  table.table
    thead
      tr
        th Имя посетителя
        th Электронная почта
        th Опубликован
    tbody
      = render @reviews