h3 Карточка отзыва
- unshow = true
= form_for [:admin, @review] do |f|

  div.input-group
    span class="input-group-addon"
      | Имя посетителя
    = f.text_field :name, :class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Электронная почта
    = f.text_field :email, :class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Текст отзыва
    = f.text_area :review_text, :class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Изображение 130px на 130px
    = f.file_field :image, :class => 'form-control'

  div.input-group
    div.input-group
      span class="input-group-addon"
        | Опубликован
        = f.check_box :published

  = f.submit "Создать", :class => "btn btn-default"