#social-plugin
<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
<script type="text/javascript">VK.Widgets.Group("social-plugin", {mode: 0, width: "250", height: "250", color1: 'FFFFFF', color2: '848382', color3: 'fea71f'}, 12612929);</script>