tr
  td
    = order.name
  td
    = order.phone
  td
    = order.created_at.strftime('%d.%m.%Y  %T')
  td
    = order.service.name
  td
    = link_to [:edit, :admin, order]
      button type="button" class="btn btn-sm btn-success"
        | Посмотреть
  td
    = link_to "Удалить", [:admin, order], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"
