- unshow = true
= form_for [:admin, @order] do |f|

  div.input-group
    span class="input-group-addon"
      | Услуга
    = f.collection_select :service_id, Service.where(:parent_id => nil), :id, :name, {}, {:class => 'form-control', :disabled => unshow}

  div.input-group
    span class="input-group-addon"
      | Имя
    = f.text_field :name ,:class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Телефон
    = f.text_field :phone ,:class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Дата
    = f.text_field :created_at, :class => 'form-control', :disabled => unshow, :value => @order.created_at.strftime('%d.%m.%Y  %T')

  div.input-group
    span class="input-group-addon"
      | Примечание
    = f.text_area :note ,:class => 'form-control', :disabled => unshow

  - if !unshow
    = f.submit "Обновить"