= form_for [:admin, @order] do |f|

  div
    = f.label :service_id, "Услуга"
    = f.collection_select :service_id,  Service.where(:parent_id => nil), :id, :name

  div
    = f.label :name, "Имя"
    = f.text_field :name

  div
    = f.label :phone, "Телефон"
    = f.text_field :phone

  div
    = f.label :note, "Примечание"
    = f.text_area :note

  = f.submit "Создать"