- provide(:title, "Ошибка 404 | Дельта сервис")

#error404
  .min950.center
    h1
      | Страница не найдена (Ошибка 404)
    .text
      | К сожалению, такой страницы не существует. Возможно вы набрали неправильный адрес, или перешли на страницу, которая была перемещена или удалена. Попробуйте начать поиск необходимой информации заново с главной страницы сайта или найдите нужную страницу в карте сайта ниже.