- provide(:title, "ремонт ноутбуков, фотоаппаратов, сотовых телефонов, айфонов, APPLE (IPhone, IPod, IPad, MacBook) в Ижевске")
- provide(:metadesc, "ремонт ноутбуков, ремонт фотоаппаратов, ремонт сотовых телефонов, ремонт айфонов APPLE (IPhone, IPod, IPad, MacBook) в Ижевске")
- provide(:metakeywords, "ремонт, сотовых телефонов ижевск, ремонт фотоаппаратов ижевск, ремонт ноутбуков ижевск, ремонт компьютеров ижевск, чистка ноутбука от пыли, цена, сервисный центр")

#slider
  ul#slider-cnt data-current=0
    - @banners.each do |banner|
      li.slider-list style="background-image: url(#{banner.image.url})" data-position=banner.position

  ul#slider-menu
    - first = true
    - @banners.each do |banner|
      li class=[first ? 'active' : '']
      - first = false

#express-panel
  .min950.center
    .title
      |Экспресс-заявка на ремонт техники
    #order-btn.button
      |Оставить заявку

#services
  .min950.center
    - if !@services.nil?
      ul
        - @services.each do |service|
          li.service
            = link_to "/services/#{service.alias}"
              div class="#{service.alias}-icon icon"
              .title
                = service.name
              .content
                = service.short_description

#how-we-work
  .min950.center
    h1
      |Как мы работаем
    .text
      | Уже более 4х лет выполняем качественный ремонт цифровой техники любой сложности. Годы успешной работы, квалификация наших мастеров, сотрудничество с поставщиками различных запчастей, позволяют ремонтировать разнообразную технику в одном месте. Вам не надо ходить по нескольким мастерским с разным оборудованием, мы предлагаем <span class="attention">весь спектр услуг</span> связанных с ремонтом цифровой техники.<br><br> Для Вашего удобства у нас работает <span class="attention">2 пункта приема-выдачи</span> техники в г. Ижевске. Наши специалисты готовы оперативно проконсультировать.
#working-stages
  .min950.center
    ul
      li.stage
        .bring-stage-icon.icon
        .content
          |Вы приносите технику в одну из наших мастерских
      li.stage
        .tell-stage-icon.icon
        .content
          |Описываете поломку нашим бережным специалистам
      li.stage
        .repair-stage-icon.icon
        .content
          |Наша команда чинит поломку в кратчайшие сроки
      li.stage
        .get-stage-icon.icon
        .content
          |Мы вам звоним, и вы приходите забирать свою технику

= render "reviews/reviews"