tr
  td
    = advice.name
  td
    = advice.service.name
  td
    = link_to [:edit, :admin, advice]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать
  td
    = link_to "Удалить", [:admin, advice], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"