= form_for [:admin, @advice] do |f|

  div.input-group
    span class="input-group-addon"
      | Услуга
    = f.collection_select :service_id, Service.where(:parent_id => nil), :id, :name, {}, {:class => 'form-control'}

  div.input-group
    span class="input-group-addon"
      | Название
    = f.text_field :name ,:class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Описание
    = f.text_area :description ,:class => 'form-control'

  = f.submit "Обновить", :class => "btn btn-default"