h3 Список советов
div.btns
  = link_to "Создать совет", new_admin_advice_path, :class => "btn btn-primary"
.panel.panel-default
  table.table
    thead
      tr
        th Название
        th Услуга
    tbody
      = render @advices