- provide(:title, "Контакты | Дельта сервис")
- provide(:metadesc, "Контакты и схема проезда Дельта сервис в Ижевске")
- provide(:metakeywords, "контакты, телефон, адрес, схема проезда, Дельта сервис Ижевск")

<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
.min950
  #contacts
    h1.center
      | Контакты
    table.content
      tr
        td.header
          | Контакты:
      tr
        td
          | Прием заказов:
        td
          = Setting.find_by(:alias => "phone1").value
      tr
        td
          | Эл. почта:
        td
          span.attention
            = Setting.find_by(:alias => "email").value
      tr
        td
          | ICQ:
        td
          = Setting.find_by(:alias => "ICQ").value
    table.content
      tr
        td.header
          | Режим работы
      tr
        td
          | Пн. - Пт.:
        td
          | 10:00 - 19:00
      tr
        td
          | Сб.:
        td
          | 10:00 - 16:00
      tr
        td
          | Вс.:
        td
          | Выходной
    #first-map
      .content
        div.attention
          |Мастерская на Удмуртской
        = Setting.find_by(:alias => "address2").value
        br
        span.map-contact
          = Setting.find_by(:alias => "phone3").value
    #second-map
      .content
        div.attention
          |Мастерская на Пушкинской
        = Setting.find_by(:alias => "address1").value
        br
        span.map-contact
          = Setting.find_by(:alias => "phone2").value

    <script type="text/javascript">ymaps.ready(init);function init(){ myMap = new ymaps.Map ("first-map", {center: [56.86853683, 53.22395887],zoom: 16,});var myPlacemark = new ymaps.Placemark([56.86853683, 53.22395887]);myPlacemark.name = "Дельта-сервис";myMap.geoObjects.add(myPlacemark);}</script>
    <script type="text/javascript">ymaps.ready(init);function init(){ myMap = new ymaps.Map ("second-map", {center: [56.86030977, 53.20777150],zoom: 16,});var myPlacemark = new ymaps.Placemark([56.86030977, 53.20777150]);myPlacemark.name = "Дельта-сервис";myMap.geoObjects.add(myPlacemark);}</script>