| Вам поступила новая заявка на сайте delta-18.ru
br
br
b
  | Услуга:&nbsp;
= @order.service.name
br
br
b
  | От:&nbsp;
= @order.name
br
br
b
  | Телефон:&nbsp;
= @order.phone
br
br
b
  | Примечание:&nbsp;
= @order.note