tr
  td
    = setting.name
  td
    = setting.value
  td
    = link_to [:edit, :admin, setting]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать
  //td
    = link_to "Удалить", [:admin, setting], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"