h3 Карточка настройки
- unshow = true
= form_for [:admin, @setting] do |f|

  div.input-group
    span class="input-group-addon"
      | Алиас
    = f.text_field :alias ,:class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Имя
    = f.text_field :name ,:class => 'form-control', :disabled => unshow

  div.input-group
    span class="input-group-addon"
      | Значение
    = f.text_field :value, :class => 'form-control'

  = f.submit "Обновить", :class => "btn btn-default"