= form_for [:admin, @setting] do |f|

  div
    = f.label :alias, "Алиас"
    = f.text_field :alias

  div
    = f.label :name, "Имя"
    = f.text_field :name

  div
    = f.label :value, "Значение"
    = f.text_area :value

  = f.submit "Создать"