tr
  td
    = product.name
  td
    = product.service.name
  td
    = link_to [:edit, :admin, product]
      button type="button" class="btn btn-sm btn-success"
        | Редактировать
  td
    = link_to "Удалить", [:admin, product], method: :delete, data: { confirm: "Вы уверены, что хотите удалить запись?" }, :class => "btn btn-sm btn-danger"