h3 Карточка продукта
- unshow = true
= form_for [:admin, @product] do |f|

  div.input-group
    span class="input-group-addon"
      | Название
    = f.text_field :name, :class => 'form-control'

  div.input-group
    span class="input-group-addon"
      | Услуга
    = f.collection_select :service_id, Service.where(:parent_id => nil), :id, :name, {}, {:class => 'form-control'}

  div.input-group
    span class="input-group-addon"
      | Изображение 130px на 130px
    = f.file_field :image, :class => 'form-control'

  = f.submit "Обновить", :class => "btn btn-default"