h3 Список товаров
div.btns
  = link_to "Создать товар", new_admin_product_path, :class => "btn btn-primary"
.panel.panel-default
  table.table
    thead
      tr
        th Название
        th Услуга
    tbody
      = render @products