/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

* {
    transition: all 0.5s;
}

html,body {
    width: 100%;
    height: auto;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.min950 {
    margin: 0 auto;
    display: block;
    width: 950px;
    position: relative;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
input[type=submit]{
    border: 0;
    margin: 10px 0 10px 0;
}
.non-link {
    text-decoration: none;
}

.active-block {
    display: inline-block !important;
}

.deactive-block {
    display: none !important;
}

.button {
    background: #fea71f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    height: auto;
    width: auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.button * {
    cursor: pointer;
}
.button:hover{
    background: #d78a11;
}
h1{
    font-size: 22px;
    font-weight: bold;
    color: #636363;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    color: #636363;
    text-transform: uppercase;
}
.text{
    font-size: 18px;
    color: #636363;
    margin: 0 30px 0 30px;
}
.attention {
    color: #f6a118;
    font-weight: bold;
}


/* HEADER */

header {
    width: 100%;
    height: auto;
    background: url(images/header-bg.png) repeat #565d67;
    color: white;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header-logo {
    width: 244px;
    height: 53px;
    background: url(images/header-logo.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 15px 10px;
    background-size: contain;
}

#header-menu, #header-menu li {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
}

#header-menu {
    margin: 30px 20px 0 30px;
}

#header-menu li {
    font-weight: bold;
    margin: 0 18px 0 18px;
    cursor: pointer;
    position: relative;
}

#header-menu li a {
    color: white;
    text-decoration: none;
}

#header-menu .second-header-menu {
    padding: 10px 10px 0 10px;
    margin: 34px 0 0 0;
    list-style: none;
    position: absolute;
    z-index: 10;
    background: #F09C15;
    width: 200px;
    display: none;
}

#header-menu .second-header-menu li {
    display: block;
    font-size: 14px;
    text-transform:none;
    margin: 0 0 10px 0;
    font-weight: normal;
}

#header-menu .sub-menus {
    cursor: default;
    height: 53px;
}

#header-menu .sub-menus:hover .second-header-menu  {
    display: block;
}


#working-time {
    display: inline-block;
    width: 110px;
    text-align: center;
    background: #4f81c8;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0 0 0;
}

#working-time .title {
    font-size: 12px;
}

#working-time .content {
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0 5px 0;
    font-size: 15px;
}

#working-time-adaptive {
    display: none;
}

#header-contact {
    display: inline-block;
    margin: 14px 0 0 40px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#header-contact li {
    color: white !important;
}


#header-contact li.contact {
    font-size: 32px;
    height: 35px;
}

#call-order {
    width: 32px;
    height: 178px;
    position: fixed;
    right: 0;
    top: 80px;
    background: url(images/call-order-panel.png) no-repeat;
    cursor: pointer;
}
#slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 500px;
}
#slider-cnt {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow:hidden;
    position: relative;
}

#slider-cnt li {
    height: 100%;
    width: 100%;
    background-position: center;
    float: left;
    position: relative;
}

#slider-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}


#slider-menu li {
    width: 100px;
    height: 10px;
    background: #e5bd7d;
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

#slider-menu li.active {
    background: #f09c15;
}

#express-panel {
    width: 100%;
    height: auto;
    background: #565d67;
    color: white;
    padding: 15px 0 15px 0;
}

#express-panel .title {
    display: inline-block;
    /*font-family: "Open Sans Condensed", sans-serif;*/
    font-size: 22px;
    font-weight: bold;
    margin: 10px 15px 10px 15px;
    text-transform: uppercase;
    vertical-align: middle;
}

#express-panel .button {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px 0 15px;
    vertical-align: middle;
}

#r1,#r2,#r3 {
    margin-left: 25px;
}

#about-us {
    padding: 45px 0 45px 0;
    background: white;
}

#services {
    background: #f4e8d5;
    padding: 45px 0 45px 0;
}

#how-we-work {
    padding: 45px 0 45px 0;
    background: white;
}

#error404 {
    padding: 45px 0 45px 0;
    background: white;
}


#services ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#services a {
    text-decoration: none;
}

#services .service {
    width: 24%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#services .title {
    font-size: 12px;
    color: white;
    font-weight: bold;
    background: #fea71f;
    width: auto !important;
    text-transform: uppercase;
    margin: 5px 15px 5px 15px;
    padding: 2px 0 2px 0;
}

#services .content {
    font-size: 12px;
    color: #636363;
    margin: 0 12px 0 12px;
}

#services .icon {
    margin: 0 auto;
}

.repair-apple-icon {
    width: 24px;
    height: 43px;
    background: url(images/icons/iphone.png) no-repeat;
}

.repair-camera-icon {
    width: 53px;
    height: 43px;
    background: url(images/icons/photo.png) no-repeat;
}

.repair-mobile-phone-icon {
    width: 27px;
    height: 43px;
    background: url(images/icons/mobile.png) no-repeat;
}

.repair-notebook-icon {
    width: 66px;
    height: 43px;
    background: url(images/icons/laptop.png) no-repeat;
}

#services a:hover .title {
    background: #D78A11;
}

#services a:hover .repair-apple-icon {
    background: url(images/icons/iphone-hover.png) no-repeat;
}

#services a:hover .repair-camera-icon {
    background: url(images/icons/photo-hover.png) no-repeat;
}

#services a:hover .repair-mobile-phone-icon {
    background: url(images/icons/mobile-hover.png) no-repeat;
}

#services a:hover .repair-notebook-icon {
    background: url(images/icons/laptop-hover.png) no-repeat;
}

.bring-stage-icon {
    width: 118px;
    height: 111px;
    background: url(images/icons/bring.png) no-repeat;
}

.tell-stage-icon {
    width: 141px;
    height: 111px;
    background: url(images/icons/tell.png) no-repeat;
}

.repair-stage-icon {
    width: 110px;
    height: 111px;
    background: url(images/icons/repair.png) no-repeat;
}

.get-stage-icon {
    width: 104px;
    height: 111px;
    background: url(images/icons/get.png) no-repeat;
}

#working-stages {
    padding: 0 0 45px 0;
}

#working-stages .icon {
    margin: 0 auto;
}

#working-stages ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#working-stages .stage {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}


#working-stages .content {
    margin: 15px 20px 0 20px;
    color: #636363;
}

#reviews {
    width: 570px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 0;
    overflow: hidden;
    position: relative;
}

#reviews-cnt {
    height: auto;
}

#reviews h2 {
    margin: 20px 0 20px 20px;
}

#reviews ul {
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    position: relative;
}

#reviews .content-wrapper {
    margin: 20px 0 0 30px;
    display: inline-block;
    width: 58%;
    vertical-align: top;
}

#reviews .content-wrapper .title {
    font-size: 18px;
    font-weight: bold;
    color: #F3B95B;
    margin: 0 0 10px 0;
}

#reviews .content-wrapper .content {
    color: #636363;
}

#reviews .review-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    border: 1px solid #bbbbbb;
    margin: 0 0 0 50px;
}

#reviews img {
    width: 100%;
    height: auto;
}

#reviews .button {
    width: 125px;
    margin: 0 auto;
}

#reviews .left-arrow {
    display: inline-block;
    width: 17px;
    height: 30px;
    background: url(images/icons/left-arrow.png) no-repeat;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 115px;
    z-index: 100;
}

#reviews .left-arrow:hover {
    background: url(images/icons/left-arrow-hover.png) no-repeat;
}

#reviews .right-arrow {
    width: 17px;
    height: 30px;
    background: url(images/icons/right-arrow.png) no-repeat;
    vertical-align: top;
    cursor: pointer;
    right: 0;
    top: 115px;
    position: absolute;
    z-index: 100;
}

#reviews .right-arrow:hover {
    background: url(images/icons/right-arrow-hover.png) no-repeat;
}

#reviews ul li {
    float: left;
    position: relative;

}

#social-plugin {
    width: 29%;
    margin: 20px 0 0 40px;
    display: inline-block;
}

footer {
    width: 100%;
    margin: 45px 0 0 0;
    background: #565D67;
    color: white;
    font-size: 12px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


footer ul.first-footer-menu {
    text-transform: uppercase;
    margin: 10px 40px 0 0;
}

footer ul.first-footer-menu li {
    margin: 3px 0 3px 0;
}

footer ul.second-footer-menu {
    margin: 5px 0 10px 5px;
    text-transform: none;
}

footer a {
    color: white;
}

#footer-left {
    text-align: left;
    float: left;
}

#footer-contacts {
    margin: 10px 0 0 0;
}

#footer-contacts li {
    margin: 10px 0 10px 0;
}

#footer-contacts li:first-child {
    margin: 0 0 10px 0;
}

#footer-contacts .title {
    font-weight: bold;
}

#footer-left ul.first-footer-menu, #footer-contacts {
    display: inline-block;
    vertical-align: top;
}

#footer-right {
    text-align: right;
    float: right;
}

.vk-icon {
    display: inline-block;
    width: 38px;
    height: 39px;
    background: url(images/icons/vk-icon.png) no-repeat;
}

#social-link, #made-in {
    display: block;
}

#social-link {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
}

#social-link .title {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 0 0;
}

#popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    opacity: 0.8;
    top: 0;
    z-index: 900;
    display: none;
}

.error {
    color: red;
    font-size: 10px;
    display: none;
}

#popup-forms {
    width: 100%;
    display: none;
    height: 30px;
    position: fixed;
    top: 200px;
    z-index: 1000;
}

#popup-forms .description {
    color: #636363;
    display: none;
    margin: 0 0 10px 0;
}

#new_call {
    margin: 0 auto;
    width: 350px;
    background: white;
    padding: 10px;
    text-align: center;
    position: relative;
    display: none;
}

#new_review {
    margin: 0 auto;
    width: 350px;
    background: white;
    padding: 10px;
    text-align: center;
    position: relative;
    display: none;
}

#new_order {
    margin: 0 auto;
    width: 350px;
    background: white;
    padding: 10px;
    text-align: center;
    position: relative;
    display: none;
}

#new_order input[type=text], #new_order textarea, #new_order select {
    width: 70%;
}

#new_call input[type=text], #new_call textarea, #new_call select {
    width: 70%;
}


#new_review input[type=text], #new_review textarea {
    width: 70%;
}

#new_review input[type=file] {
    margin: 10px;
}

#popup-forms .title {
    font-size: 16px;
    font-weight: bold;
    color: #636363;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

#popup-forms label {
    display: block;
    font-size: 14px;
    color: #636363;
}

#popup-forms input[type=text], #popup-forms input[type=file] {
    font-size: 14px;
    color: #636363;
}

#popup-forms .input-wrapper {
    margin: 10px 0 10px 0;
}

.close-popup {
    width: 19px;
    height: 18px;
    background: url(images/icons/cross-icon.png) no-repeat;
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.close-popup:hover {
    background: url(images/icons/hover-cross-icon.png) no-repeat;
}

#price {
    padding: 45px 0 30px 0;
}

#price img {
    margin: 20px 0 0 0;
}

#prices_service_id {
    background: #fea71f;
    border: 0;
    color: white;
    font-size: 16px;
    padding: 5px;
}

#price-img {
    position: relative;
    margin: 60px 20px 0 20px;
}

#price-img img {
    height: 350px;
    width: auto;
}

#price-img .left {
    /*width: 199px;*/
    height: 47px;
    /*background: url(images/prices/left-price.png) no-repeat;
    */
}

#price-img .right {
    /*width: 199px;*/
    height: 47px;
    /*background: url(images/prices/right-price.png) no-repeat;*/
}

#price-img .top-left {
    width: 199px;
    height: 76px;
    background: url(images/prices/top-left-price.png) no-repeat;
}

#price-img .top-right {
    width: 199px;
    height: 76px;
    background: url(images/prices/top-right-price.png) no-repeat;
}

#price-img .price-block {
    position: absolute;
}

#price-img .prices-tbl {
    display: none;
}

#price-img .prices {
    display: none;
}

#price-img .prices.enabled {
    display: block;
}

.bullet {
    position: absolute;
}

.left .bullet {
    background: url(images/prices/bullet.png) no-repeat;
    width: 15px;
    height: 15px;
    right: 0;
    top: 16px;
}

.right .bullet {
    background: url(images/prices/bullet.png) no-repeat;
    width: 15px;
    height: 15px;
    left: 0;
    top: 16px;
}

.price-block .price-name, .price-block .price-cost {
    font-size: 12px;
    font-style: italic;
    color: #636363;
    position: absolute;
    width: 100%;
}

.price-block .price-name {
    padding: 0 0 1px 0;
}

.left .price-name {
    top: 5px;
    text-align: left;
    border-bottom: 1px solid #f3ba5f;
 }

.left .price-cost {
    bottom: 5px;
    text-align: left;
}

.right .price-name {
    top: 5px;
    right: 0px;
    text-align: right;
    border-bottom: 1px solid #f3ba5f;
}

.right .price-cost {
    bottom: 5px;
    right: 0px;
    text-align: right;
}

.top-left .price-name {
    top: 5px;
    text-align: left;
}

.top-left .price-cost {
    bottom: 34px;
    text-align: left;
}

.top-right .price-name {
    top: 5px;
    right: 0px;
    text-align: right;
}

.top-right .price-cost {
    bottom: 34px;
    right: 0px;
    text-align: right;
}

/* ЦЕННИКИ */

#ipad-screen {
    left: 67px;
    top: -20px;
}

#ipad-port {
    right: 0;
    width: 215px;
    top: 171px;
}

#ipad-another {
    width: 280px;
    top: 171px;
}

#ipad-ios {
    right: 0;
    top: 270px;
    width: 280px;
}

#iphone5-home-btn {
    bottom: 7px;
    width: 307px;
}

#iphone5-display {
    top: 150px;
    width: 270px;
}

#iphone5-dynamic {
    top: 32px;
    width: 307px;
}

#iphone5-battery {
    top: 150px;
    width: 270px;
    right: 0;
}

#iphone5-charger {
    bottom: -18px;
    width: 307px;
    right: 0;
}

#iphone5-block-btn {
    top: -45px;
    left: 447px;
}

#iphone4-diagnostic {
    top: -15px;
    right: 25px;
    font-weight: bold;
}

#iphone5-diagnostic {
    top: -15px;
    right: 25px;
    font-weight: bold;
}

#ipad-diagnostic {
    top: -40px;
    right: 25px;
    font-weight: bold;
}

#camera-diagnostic {
    top: 50px;
    right: 55px;
    font-weight: bold;
}

#mobile-diagnostic {
    top: 300px;
    right: 0;
    font-weight: bold;
    width: 244px;
}

#notebook-diagnostic {
    top: -35px;
    right: 52px;
    font-weight: bold;
}

#iphone4-dynamic {
     top: 32px;
     width: 307px;
 }

#iphone4-display {
    top: 150px;
    width: 270px;
}

#iphone4-home-btn {
    bottom: 7px;
    width: 307px;
}

#iphone4-block-btn {
    top: -45px;
    left: 447px;
}

#iphone4-battery {
    top: 200px;
    width: 270px;
    right: 0;
}

#iphone4-charger {
    bottom: -18px;
    width: 307px;
    right: 0;
}

#iphone4-back {
    top: 100px;
    width: 270px;
    right: 0;
}

#camera-flash {
    right: 180px;
    top: -30px;
}

#camera-focus-btn {
    top: 60px;
    width: 330px;
}

#camera-display {
    top: 160px;
    width: 280px;
}

#camera-pdb {
     top: 280px;
     width: 330px;
}

#camera-lens {
    top: 190px;
    right: 0;
    width: 273px;
}

#phone-dynamic {
    left: 138px;
    top: -25px;
}

#phone-screen {
    top: 70px;
    width: 300px;
}

#phone-display {
    top: 185px;
    width: 300px;
}

#phone-buttons {
    top: 307px;
    width: 336px;
}

#phone-charge {
    top: -45px;
    right: 135px;
}

#phone-water {
    top: 70px;
    right: 0;
    width: 300px;
}

#phone-os {
    top: 185px;
    right: 0;
    width: 300px;
}

#repair-notebook {
    height: 420px !important;
}

#notebook-loop {
    top: 153px;
    width: 290px;
}

#notebook-keyboard {
    top: 245px;
    width: 320px;
}

#notebook-pdb {
    top: 380px;
    width: 320px;
}

#notebook-matrix {
    top: 80px;
    right: 0;
    width: 320px;
}

#notebook-clear {
    top: 200px;
    right: 0;
    width: 281px;
}

#notebook-port {
    top: 350px;
    right: 0;
    width: 281px;
}

.order-label {
    margin: 40px 0 0 0;
    font-size: 20px;
    color: #fea71f;
    font-weight: bold;
}


#order-btn {
    margin:20px 0 0 0;
    display: inline-block;
}

#service-description {
    padding: 15px 0 45px 0;
}

#service-advices {
    padding: 30px 0 30px 0;
    background: #F4E8D5;
    height: auto;
}

#service-advices ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

#advices {
    position: relative;
    overflow: hidden;
}


#service-advices .left-arrow, #service-advices .right-arrow {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 100;
}

#service-advices .left-arrow {
    left: 0;
    background: url(images/icons/left-round-arrow.png) no-repeat;
}

#service-advices .right-arrow {
    right: 0;
    background: url(images/icons/right-round-arrow.png) no-repeat;
}

#service-advices .advice {
    display: block;
    float: left;
    position: relative;
}

#service-advices .advice .title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FEA71F;
    margin: 0 60px 20px 60px;
}

#service-advices .advice .description {
    font-size: 16px;
    color: #636363;
    margin: 0 60px 0 60px;
}

#recommended {
    padding: 30px 0 30px 0;
}

#recommended h2 {
    text-align: left;
    color: #F09C15;
    margin: 10px 0 10px 20px;
}

#products {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 10% 0 10%;
}

#recommended ul {
    padding: 0;
    list-style: none;
    height: 180px;
    position: relative;
}

#recommended .goods {
    width: 140px;
    padding: 0 10px 0 10px;
    display: block;
    float: left;
}

#recommended .goods .title {
    color: #636363;
}

#recommended .goods img {
    border: 1px solid #707070;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#recommended .left-arrow, #recommended .right-arrow {
    width: 20px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

#recommended .left-arrow {
    top: 50%;
    left: 10px;
    background: url(images/icons/left-big-arrow.png) no-repeat;
}

#recommended .right-arrow {
    top: 50%;
    right: 10px;;
    background: url(images/icons/right-big-arrow.png) no-repeat;
}

.white-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    z-index: 90;
}

.white-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
    z-index: 90;
}

#footer-menu {
    display: inline-block;
}

#reviews-list {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 20px;
}

#reviews-list ul {
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
    list-style: none;
    display: inline-block;
}

#reviews-list li {
    margin: 20px 0 20px 0;
}

#reviews-list .content-wrapper {
    margin: 20px 0 0 30px;
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

#reviews-list .content-wrapper .title {
    font-size: 18px;
    font-weight: bold;
    color: #F3B95B;
    margin: 0 0 10px 0;
}

#reviews-list .content-wrapper .content {
    color: #636363;
}

#reviews-list .review-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: inline-block;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    border: 1px solid #bbbbbb;
}

#reviews-list img {
    width: 100%;
    height: auto;
}

#reviews-list .description {
    margin: 0 0 18px 0;
    color: #636363;
}

#add-review {
    width: 145px !important;
    text-align: center;
}

#contacts table.content {
    color: #636363;
    display: inline-block;
    margin: 5px 60px 5px 10px;
}

#contacts table.content td {
    padding: 0 5px 0 5px;
}

#contacts table.content td.header {
    font-weight: bold;
}

span.map-contact {
    font-weight: bold;
    font-size: 15px;
}

#first-map, #second-map {
    width: 100%;
    height: 300px;
    margin: 20px 0 20px 0;
    position: relative;
}

#first-map .content, #second-map .content {
    width: 200px;
    height: 200px;
    padding: 100px 10px 0 10px;
    z-index: 1000;
    background: black;
    opacity: 0.8;
    position: absolute;
    color: white;
    text-align: center;
}

#first-map .content {
    right: 0;
}

@media screen and (min-width: 100px) and (max-width: 950px) {

    .min950 {
        width: 100%;
    }

    #slider {
        display: none;
    }

    #header-contact {
        position: absolute;
        top: 0;
        right: 10px;
    }

    #working-time {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0 !important;
    }

    #header-menu {
        padding: 0;
        margin: 0;
        width: 100%;
        background: #F09C15;
    }

    #header-menu li {
        display: block;
        margin: 15px 10px 15px 30px;
    }

    #header-menu .sub-menus {
        height: auto;
    }

    #header-menu .second-header-menu {
        display: block;
        position: relative;
        background: none;
        margin: 0;
    }

    #working-time-adaptive {
        display: block;
        background: #4F81C8;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px 0 5px 0;
        text-align: center;
    }

    #working-time-adaptive .time {
        font-size: 14px;
    }

    #slider-menu li {
        width: 25px;
        height: 25px;
    }

    #express-panel {
        height: auto;
    }

    #services .service {
        width: 45%;
        margin: 20px 0 20px 0;
    }

    #working-stages .stage {
        width: 49%;
        margin: 20px 0 20px 0;
    }

    #reviews {
        width: 90%;
        display: block;
        padding: 0 0 0 10%;
    }

    #reviews .left-arrow {
        top: 115px;
        left: 20px;
    }

    #reviews .right-arrow {
        top: 115px;
        right: 30px;
    }

    #reviews h2 {
        text-align: center;
        margin: 20px 0 20px 0;
    }

    #social-plugin {
        margin: 60px auto 0 auto;
        display: block;

    }

    #footer-left {
        margin: 10px;
    }

    #footer-menu {
        display: block;
    }

    #footer-contacts {
        display: block;
        margin: 30px 0 0 0;
    }

    #footer-right {
        float: left;
        text-align: left;
        margin: 10px;
    }

    #price-img img {
        display: none;
    }

    #price-img .prices {
        display: none !important;
    }

    #price-img .prices-tbl {
        width: 100%;
    }

    #price-img .prices-tbl.enabled {
        display: block;
    }

    .prices-tbl .left-text {
        text-align: left;
    }

    .prices-tbl .right-text {
        text-align: right;
    }

    .prices-tbl tr td {
        padding: 5px;
        color: white;
    }

    .prices-tbl tr:nth-child(even) {
        background: #8f97a3;
    }

    .prices-tbl tr:nth-child(odd) {
        background: #f8ac35;
    }

    #reviews-list {
        width: 88%;
    }

    #call-order {
        position: absolute;
        top: 105px;
    }

    #first-map .content, #second-map .content {
        width: 100%;
        height: 65px;
        padding: 10px 0 0 0;
        bottom: 0;
    }

    #popup-forms {
        top: 80px;
    }

    #new_order {
        width: 245px;
    }

    #new_review {
        width: 245px;
    }
}

@media screen and (min-width: 300px) and (max-width: 640px) {

    #call-order {
        position: absolute;
        top: 80px;
    }

    #contacts table.content {
        margin: 5px 10px 5px 10px;
    }


    #reviews .review-img {
        display: none;
    }

    #reviews-list .review-img {
        display: none !important;
    }

    #header-logo {
        /* margin: 15px 0 90px 10px; */
    }

    #header-contact {
        /*
        position: absolute;
        top: 65px;
        left: -30px;
        width: 180px;
        float: left;
        */
    }
}