@import "bootstrap";

.navbar {
  position: relative;
}

.input-group {
  margin: 10px 0 10px 0;
}

.btns {
  margin: 20px 0 20px 0;
}

#review_published {
  margin: 0 0 0 10px;
}

.width1 {
  width: 150px !important;
}