= form_for [:admin, @user] do |f|

  div
    = f.label :name, "Имя"
    = f.text_field :name

  div
    = f.label :password, "Пароль"
    = f.text_field :password

  div
    = f.label :password_confirmation, "Подтверждение пароля"
    = f.text_field :password_confirmation

  = f.submit "Создать"