#additional-block
  .min950
    #reviews
      h2
        | Отзывы
      .left-arrow
      #reviews-cnt
        ul data-current=0
          = render @reviews
      .right-arrow
      #add-review.button
        | Оставить отзыв
    = render "plugins/social"
