- provide(:title, "Отзывы | Дельта сервис")
- provide(:metadesc, "отзывы Дельта сервис")
- provide(:metakeywords, "отзывы, дельта сервис, Ижевск")

.min950
  #reviews-list
    h1.center
      | Отзывы
    .description
      | У нас более 7000 клиентов и с каждым днём мы выполняем всё больше и больше заказов. Мы просим наших клиентов оставить отзыв, и некоторые находят время сделать это (орфография, все данные и фотографии сохранены без корректировок).
    #add-review.button
      | Оставить отзыв
    ul
      = render @reviews
  = render "plugins/social"