html
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"
    title
      | Панель администрирования
    = stylesheet_link_tag "custom", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "admin", "data-turbolinks-track" => true
    = csrf_meta_tags
    link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,latin' rel='stylesheet' type='text/css'
    link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'
  body

    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand
            | Панель администрирования
        #navbar.navbar-collapse.collapse
          - if signed_in?
            ul.nav.navbar-nav
              li class="#{(request.fullpath == admin_services_path ? 'active' : '')}"
                = link_to "Услуги", admin_services_path
              li class="#{(request.fullpath == admin_prices_path ? 'active' : '')}"
                = link_to "Цены", admin_prices_path
              li class="#{(request.fullpath == admin_products_path ? 'active' : '')}"
                = link_to "Товары", admin_products_path
              li class="#{(request.fullpath == admin_advices_path ? 'active' : '')}"
                = link_to "Советы", admin_advices_path
              li class="#{(request.fullpath == admin_reviews_path ? 'active' : '')}"
                = link_to "Отзывы", admin_reviews_path
              li class="#{(request.fullpath == admin_calls_path ? 'active' : '')}"
                = link_to "Звонки", admin_calls_path
              li class="#{(request.fullpath == admin_orders_path ? 'active' : '')}"
                = link_to "Заявки", admin_orders_path
              li class="#{(request.fullpath == admin_worktimes_path ? 'active' : '')}"
                = link_to "Время работы", admin_worktimes_path
              li class="#{(request.fullpath == admin_settings_path ? 'active' : '')}"
                = link_to "Настройки", admin_settings_path

    .container.showcase
      = yield