html
  head
    title
      = yield(:title)
    meta name="description" content="#{yield(:metadesc)}"
    meta name="keywords" content="#{yield(:metakeywords)}"

    meta charset="UTF-8"
    meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"
    title
      | Delta
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "normalize", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "https://www.google.com/recaptcha/api.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag
    link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=cyrillic,latin' rel='stylesheet' type='text/css'
    link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'

  body
    /- if signed_in?
      /=link_to "Выйти", admin_logout_path , method: :delete, data: { confirm: "You sure?" }
    header
      .min950
        = link_to root_path
          #header-logo
        nav#header-menu
          ul
            li.sub-menus
              | Услуги
              - if !@services.nil?
                ul.second-header-menu
                  - @services.each do |service|
                    li
                      = link_to service.name, "/services/#{service.alias}"
            li
              = link_to "Отзывы", reviews_path
            li
              = link_to "Контакты", contacts_path
        #working-time
          .title
            | Время работы сегодня
          .time.content
            = get_current_worktime
        ul#header-contact
          li.contact
            = Setting.find_by(:alias => "phone2").value
          li
            = Setting.find_by(:alias => "email").value


    = yield

    footer
      .min950
        #footer-left
          ul#footer-menu.first-footer-menu
            li
              span
                |Услуги
              - if !@services.nil?
                ul.second-footer-menu
                  - @services.each do |service|
                    li
                      = link_to service.name, "/services/#{service.alias}"
            li
              = link_to "Отзывы", reviews_path
            li
              = link_to "Контакты", contacts_path
          ul#footer-contacts
            li.footer-contact
              .title
                |Адрес офиса:
              .content
                = Setting.find_by(:alias => "address1").value
              .content
                = Setting.find_by(:alias => "address2").value
            li.footer-contact
              .title
                |Контактные телефоны:
              .content
                = Setting.find_by(:alias => "phone1").value
              .content
                = Setting.find_by(:alias => "phone2").value
              .content
                = Setting.find_by(:alias => "phone3").value
            li.footer-contact
              .title
                |E-mail:
              .contact
                = Setting.find_by(:alias => "email").value
        #footer-right
          #social-link
            =link_to "Мы в социальных сетях!", Setting.find_by(:alias => "vk-link").value, class: "title", target: "_blank"
            .vk-icon
          div
            |© 2014, Дельта-сервис — ремонт цифровой техники в Ижевске
        .clear



    #call-order
    #popup-bg

    #popup-forms
      - call = Call.new
      = form_for [call] do |f|
        .close-popup
        .title
          | Заказать звонок
        .inputs
          .input-wrapper
            = f.label :name, "Имя*"
            = f.text_field :name, class: "form-input"
            .error
              | Поле "Имя" не может быть пустым
          .input-wrapper
            = f.label :phone, "Контактный телефон*"
            = f.text_field :phone, class: "form-input"
            .error
              | Поле "Телефон" не может быть пустым
          .input-wrapper
            #r2.gcaptcha
            .error
              | Вы не прошли проверку
          = f.submit "Заказать", class: "button"
        .description
          | Ваш запрос принят. Наши специалисты свяжутся с вами в ближайшее время.
      - review = Review.new
      = form_for [review] do |f|
        .close-popup
        .title
          | Оставить отзыв
        .inputs
          .input-wrapper
            = f.label :name, "Имя*"
            = f.text_field :name, class: "form-input"
            .error
              | Поле "Имя" не может быть пустым
          .input-wrapper
            = f.label :email, "Электронная почта"
            = f.text_field :email, class: "form-input"
          .input-wrapper
            = f.label :review_text, "Отзыв*"
            = f.text_area :review_text, class: "form-input"
            .error
              | Поле "Текст отзыва" не может быть пустым
          .input-wrapper
            #r1.gcaptcha
            .error
              | Вы не прошли проверку
          = f.submit "Оставить отзыв", class: "button"
        .description
          | Ваш отзыв принят. После модерации ваш отзыв будет опубликован на сайте.
      - order = Order.new
      = form_for [order] do |f|
        .close-popup
        .title
          | Оформить заявку
        .inputs
          .input-wrapper
            = f.label :service_id, "Услуга"
            = f.collection_select :service_id, Service.where(:parent_id => nil), :id, :name
          .input-wrapper
            = f.label :name, "Имя*"
            = f.text_field :name, class: "form-input"
            .error
              | Поле "Имя" не может быть пустым
          .input-wrapper
            = f.label :phone, "Контактный телефон*"
            = f.text_field :phone, class: "form-input"
            .error
              | Поле "Телефон" не может быть пустым
          .input-wrapper
            = f.label :note, "Примечание*"
            = f.text_area :note, class: "form-input"
            .error
              | Поле "Примечание" не может быть пустым
          .input-wrapper
            #r3.gcaptcha
            .error
              | Вы не прошли проверку
          = f.submit "Оформить заказ", class: "button"
        .description
          | Ваша заявка принята. Наши специалисты свяжутся с вами в ближайшее время.

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) {    (w[c] = w[c] || []).push(function() {        try {            w.yaCounter12898168 = new Ya.Metrika({id:12898168,                    webvisor:true,                    clickmap:true,                    trackLinks:true,                    accurateTrackBounce:true});        } catch(e) { }    });    var n = d.getElementsByTagName("script")[0],        s = d.createElement("script"),        f = function () { n.parentNode.insertBefore(s, n); };    s.type = "text/javascript";    s.async = true;    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";    if (w.opera == "[object Opera]") {        d.addEventListener("DOMContentLoaded", f, false);    } else { f(); }})(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/12898168" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->